<div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6">
     <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
       <div class="form-group">
         <label for="firstName">Adınız</label>
         <input type="text" formControlName="firstName" class="form-control" id="firstName" 
          [ngClass]="{'is-invalid': submitted && component.firstName.errors}">

         <small class="form-text text-muted invalid-feedback" 
         *ngIf="submitted && component.firstName.errors?.required">Lütfen ad alanını boş geçmeyiniz.</small>

         <small class="form-text text-muted invalid-feedback" 
         *ngIf="submitted && (component.firstName.errors?.maxlength || component.firstName.errors?.minlength)">Adınız 3 ile 50 karakter arasında olamlıdır</small>
       </div>
       <div>
       <label for="lastName">Soyadınız</label>
         <input type="text" formControlName="lastName" class="form-control" id="lastName" 
          [ngClass]="{'is-invalid': submitted && component.lastName.errors}">

         <small class="form-text text-muted invalid-feedback" 
         *ngIf="submitted && component.lastName.errors?.required">Lütfen soyadı alanını boş geçmeyiniz.</small>

         <small class="form-text text-muted invalid-feedback" 
         *ngIf="submitted && (component.lastName.errors?.maxlength || component.lastName.errors?.minlength)">Soyadınız 2 ile 50 karakter arasında olamlıdır</small>
       </div>

       <div class="form-group">
         <label for="username">Kullanıcı Adı</label>
         <input type="text" formControlName="username" class="form-control" id="username"
          [ngClass]="{'is-invalid': submitted && component.username.errors}" >

         <small class="form-text text-muted invalid-feedback"
          *ngIf="submitted && component.username.errors?.required">Lütfen kullanıcı adını boş geçmeyiniz.</small>
       </div>
       <div class="form-group">
         <label for="email">Email</label>

         <input type="email" formControlName="email" class="form-control" id="email" 
          [ngClass]="{'is-invalid': submitted && component.email.errors}">

         <small class="form-text text-muted invalid-feedback" 
         *ngIf="submitted && component.email.errors?.required">Lütfen emaili boş geçmeyiniz.</small>

         <small class="form-text text-muted invalid-feedback"
          *ngIf="submitted && component.email.errors?.email">Lütfen geçerli bir email giriniz.</small>
       </div>
       <div class="form-group">
         <label for="password">Şifre</label>

         <input type="password" formControlName="password" class="form-control" id="password" 
          [ngClass]="{'is-invalid': submitted && component.password.errors}">
       </div>
       <div class="form-group">
         <label for="passwordConfirm">Şifre Tekrar</label>
         <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm"  
         [ngClass]="{'is-invalid': submitted && component.passwordConfirm.errors}">

         <small *ngIf="submitted && frm.hasError('notSame')">Şifreler eşleşmiyor.</small>
       </div>
       <br />
       <button type="submit" class="btn btn-primary">Kayıt Ol</button>
     </form>
 
   </div>
   <div class="col-md-3"></div>
 </div>